.design-text-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 50px 40px 50px 40px;
    text-align: start;
}

.design-text {
    overflow: hidden;
}

.design-text-container img {
    height: 240px;
    width: 589px;
}

.design-link {
    font-size: 28px;
    line-height: 36px;
}

/* working hover over image */
.design-link:hover {
    color: #037362;
    text-decoration: underline;
}

.design-link div > p:hover {
    /* color: #037362;
    text-decoration: underline; */
}

div > p:hover {
    /* color: #037362;
    text-decoration: underline; */
}

.thick-vert-line {
    /* border-left: 6px solid red;
    height: 100px;
    size: 1; */
}

/* working */
.left-line p:nth-child(2) {
    color: black;
    /* background: red; */
    text-decoration: none;
}

.left-line p {
    border-left: 6px solid black;
    margin-left: 10px;
    padding: 0px 30px 0px 15px;
}

.new-flex {
    /* display: grid;
    grid-template-columns: 10px 1fr; */
}

.left-black-line-text {
    padding-top: 10px;
}

.left-black-line-text p:nth-child(2) {
    padding-top: 20px;
}

.link-no-underline {
    font-size: 16px;
    line-height: 24px;
}

.link-no-undeline:hover {
    color: #282828;
    text-decoration: none;
}

.blue-link {
    color: #4C6CF8;
    font-size: 13px;
    line-height: 28px;
}

.blue-link:hover {
    text-decoration: underline;
}

.blue-link p {
    padding-left: 10px;
    margin-top: -20px;
}


/* test hover */
/* a:nth-child(2) {
    color: red;
} */

/* working - choosing the first child under a */
a:first-child:hover {
    /* color: red; */
}

/* working to hover over p */
p:first-child:hover {
    /* color: #037362;
    text-decoration: underline; */
}

/* a:nth-child(2):hover {
    color: #037362;
    text-decoration: underline;
} */

/* a:first-child:hover {
    color: #037362;
    text-decoration: underline;
} */
/* test hover ends */
