/* feature component */
/* feature left */
.feature-left {
    padding-left: 10px;
    padding-right: 120px;
}

.feature-title h4 {
    padding: 0 0 20px 10px;
}

.feature-left img {
    border-bottom: 10px solid #037362;
    font-size: 28px;
    line-height: 36px;
    height: 350px;
    width: 620px;
}

.feature-left p {
    font-size: 18px;
    line-height: 24px;
}

.feature-left span {
    font-size: 12px;
    line-height: 18px;
}

.f-p-l p {
    font-size: 12px;
    line-height: 18px;
    padding-left: 10px;
}

/* feature-right */
.feature-right {
    padding-left: 30px;
}

.feature-right img {
    border-bottom: none;
    height: 90px;
    width: 160px;
}

.feature-right-content {
    display: flex;
    flex-direction: column;
}

.f-right {
    display: flex;
    padding: 20px;
}

.p-right {
    font-size: 13px;
    line-height: 21px;
    overflow-y: hidden;
    text-align: left;
    width: 100%
}

.right-green-font {
    color: #037362;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 5px;
}

.span-text {
    margin-top: -10px;
}

/* heart and remind me description */
.heart-right {
    display: flex;
}

.heart-right img {
    height:20px;
    width: 20px;
    margin: auto;
}
