/* vertical line */
.thin-vertical-line {
    /* border: 0.5px solid #e7e6e6; */
    /* color: #e7e6e6;
    size: 500px;
    width: 1px; */
    /* padding: 0 20px; */
}

/* horizontal line */
/* .f-right hr {
    border: 0.5px solid #e7e6e6;
} */

/* feature component */
/* feature left */
.feature-left {
    /* padding: 0 120px 0 10px; */
    padding-right: 120px;
}

.feature-title h4 {
    padding: 0 0 20px 10px;
}

.f-p-l {
    /* margin-left: 10px; */
}

.feature-left img {
    border-bottom: 10px solid #037362;
    font-size: 28px;
    line-height: 36px;
    height: 350px;
    width: 620px;
}

.feature-left p {
    font-size: 18px;
    line-height: 24px;
}

.feature-left span {
    font-size: 12px;
    line-height: 18px;
}

/* feature-right */
.feature-right {
    /* display: flex;
    flex-direction: column; */
    padding-left: 30px;
    /* padding-right: 40px; */
}

.feature-right img {
    border-bottom: none;
    height: 90px;
    width: 160px;
}

.feature-right-content {
    display: flex;
    flex-direction: column;
}

.f-right {
    display: flex;
    padding: 20px;
}

.p-right {
    font-size: 13px;
    /* font-weight: 500; */
    line-height: 21px;
    overflow-y: hidden;
    text-align: left;
    /* max-width: 100%; */
    /* min-width: 200px; */
    width: 100%
}

.p-text {
    /* width: 100%; */
}

.right-green-font {
    color: #037362;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 5px;
}

.span-text {
    margin-top: -10px;
}

/* heart and remind me description */
.heart-right {
    display: flex;
}

.heart-right img {
    height:20px;
    width: 20px;
    margin: auto;
}

/* .heart-right {
    position: relative;
    height: 30px;
    width: 30px;
} */

/* .heart-desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
} */
/* 
.heart-right:hover .heart-desc {
    visibility: visible;
    opacity: 1;
} */
