.link-header-text {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 40px;
    text-align: center;
}


.link-header-text a:hover {
    color: #037362;
    /* text-decoration: underline; */
    /* border-bottom: 2px solid #037362; */

    box-shadow: inset 0 -2px 0 white, inset 0 -4px 0 #037362;
    /* padding: 5px; */
}

.link-header-text a {
    /* padding-right: 20px; */
}
