.link-navigation-text {
    display: grid;
    font-size: 13px;
    grid-template-columns: 1fr 400px 1fr;
    line-height: 21px;
    padding: 10px 20px;
}

.nav-flex {
    display: flex;
}

.nav-left {
    justify-content: flex-start;
}

.link-explore {
    cursor: text;
}

.nav-middle {
    display: flex;
    justify-content: center;
}

.nav-middle img {
    height: 20px;
    width: 180px;
}

.nav-right {
    justify-content: flex-end;
}

.nav-right img, .nav-right a {
    cursor: text;
}

.nav-right span {
    padding: 10px;
}

.search-image {
    height: 15px;
    margin-bottom: -2px;
    width: 15px;
}

.blue-image {
    border-radius: 100%;
    height: 36px;
    width: 36px;
}
