@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* ----------------------------- */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* ----------------------------- */
/* kickstarter app */
* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

div {
  display: block;
  width: 100%;
}

h4 {
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 30px 0 30px 30px;
  text-align: start;
}

img {
  border: none;
  margin: 0;
  padding: 0;
}

a {
  color: #080808;
  padding: 10px;
  text-decoration: none;
}

.thin-horiz-line {
  border: 0.5px solid #e7e6e6;
}

.horiz-line {
  border: 1px solid #d6d4d4;
}

.thick-horiz-line {
  border: 1px solid #969595;
}

/* media queries */
@media screen and (max-width:500px){
  .top-left {
    display: none;
  }
  .top-text-container {
    display: block;
  }
  .top-right {
    display: none;
  }
  .link-header-text {
    display: block;
  }
  .thin-vertical-line {
    display: none;
  }
  .homestretch-text-container {
    display: block;
  }
  .explore-text-container {
    display: block;
  }
  .link-text {
    display: block;
  }
  .m-links {
    display: block;
  }
  h5 {
    padding-top: 10px;
  }
  .m-links-social {
    display: block;
  }
  .social-media-links {
    padding-top: 10px;
    margin-left: -10px;
  }
  .creative-people {
    display: block;
  }
}

@media screen and (max-width:768px){
  .top-left {
    display: none;
  }
  .top-right {
    display: none;
  }
  .design-text-container{
    display: flex;
    flex-wrap: wrap;
  }
  .homestretch-text-container {
    display: flex;
    flex-wrap: wrap;
  }
  .explore-text-container {
    display: flex;
    flex-wrap: wrap;
  }
  .link-text {
    display: flex;
    flex-wrap: wrap;
  }
  .m-links {
    display: flex;
    flex-wrap: wrap;
  }
  h5 {
    padding-top: 10px;
  }
  .m-links-social {
    display: flex;
    flex-wrap: wrap;
  }
  .social-media-links {
    padding-top: 10px;
    margin-left: -10px;
  }
  .creative-people {
    display: flex;
    flex-wrap: wrap;
  }
}
